{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to codewithash Ecommerce</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh diam, feugiat eget viverra at, faucibus pulvinar tortor.
                        Etiam condimentum lorem ac neque tincidunt, eu suscipit diam venenatis. Donec consectetur mollis arcu at convallis. 
                        Vivamus dictum odio eget orci accumsan, nec eleifend risus imperdiet. Donec vel aliquet lectus. 
                        Nulla placerat consectetur convallis. Morbi a metus tellus. 
                        Morbi lacinia nunc blandit massa suscipit, vitae malesuada ex vestibulum. 
                        Sed feugiat sed odio non lobortis. Nulla eget malesuada erat. 
                        Ut felis sem, consequat eget augue a, placerat ullamcorper elit. Suspendisse in nunc tortor. 
                        Morbi fringilla pulvinar pretium. Sed consectetur nunc scelerisque volutpat mollis.
                        <br><br>
                        Nullam odio risus, ultricies vel tellus eget, vehicula pharetra ipsum. 
                        Etiam tempus lectus nisi, sit amet pellentesque sapien posuere at. 
                        Nam a molestie enim. Etiam sodales, orci sit amet faucibus varius, nisi purus interdum velit, sed feugiat tortor turpis at nulla. 
                        Suspendisse lobortis metus diam, at eleifend ante vehicula eu. Maecenas ornare fringilla placerat. 
                        Phasellus mollis porta pulvinar. Ut lacinia ex ut laoreet venenatis. Nullam molestie vulputate est, nec commodo libero convallis ut. 
                        Fusce suscipit nisl id ultricies sodales. Aenean ac massa imperdiet enim dictum aliquet. Nulla facilisi.
                        <br><br>
                        Sed a elementum odio. Nam in purus sapien. Duis ac enim vitae enim sodales congue lacinia id enim. 
                        Donec eros risus, facilisis ut ornare et, egestas ornare velit. Vivamus eget lorem erat. 
                        Fusce ipsum sem, tincidunt lacinia pharetra eget, imperdiet quis ipsum. Nulla malesuada sodales nisl semper tempus. 
                        Mauris ut sodales neque. Donec vehicula nisi at odio dictum tincidunt. Suspendisse eu mi placerat, sollicitudin urna eget, hendrerit dolor. 
                        Donec iaculis, elit et commodo rhoncus, eros libero sollicitudin neque, sit amet sollicitudin metus urna ac arcu.
                        <br><br>
                    </p>
                    
                </div>
            </center>
        </div>
    </div>


{% endblock %}