{% extends "base.html" %}

{% block title %}SignUp{% endblock title %}
{% block content %}

    <h1>SignUp</h1>

    <form action='{% url 'signup' %}' method='post'>
        {% csrf_token %}
        <label>Username</label>
        <input type='text' id='username' name='username' placeholder='Username' Required >
        <br>

        <label>First name</label>
        <input type='text' id='fname' name='fname' placeholder='First name' Required >
        <br>

        <label>Last name</label>
        <input type='text' id='lname' name='lname' placeholder='Last name' Required >
        <br>

        <label>Email Address </label>
        <input type='email' id='email' name='email' placeholder='Email Address' Required >
        <br>

        <label>Password</label>
        <input type='password' id='password' name='password' placeholder='Password' Required >
        <br>

        <label>Confirm Password</label>
        <input type='password' id='pass2' name='pass2' placeholder='Confirm Password' Required >
        <br>

        <button type='submit'>SignUp</button>
    </form>

{% endblock content %}


